<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f00974f1-f6a9-4fd2-906c-bc40ca99d342/resourcegroups/BalonEvo/providers/Microsoft.Web/sites/IDGS901APIBalones20231114015214</ResourceId>
    <ResourceGroup>BalonEvo</ResourceGroup>
    <ApiResourceId>/subscriptions/f00974f1-f6a9-4fd2-906c-bc40ca99d342/resourceGroups/BalonEvo/providers/Microsoft.ApiManagement/service/IDGS901APIBalonesapi/apis/IDGS901APIBalones</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://idgs901apibalones20231114015214.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d462ae68-63d2-49d8-9d8c-c51457f7a19d</ProjectGuid>
    <MSDeployServiceURL>idgs901apibalones20231114015214.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IDGS901APIBalones20231114015214</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$IDGS901APIBalones20231114015214</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>